/* You can add global styles to this file, and also import other style files */
$font-site: 'Source Sans Pro', sans-serif;
$icon-header: #77838f;

body {
    font-family: $font-site;
}
ul{
    list-style: none;
}
