<header>
  <div class="header-sect1">
    <ul>
      <li>Opcion1</li>
      <li>Contacts</li>
      <li><img src="/assets/site/search.png" alt="search-icon"></li>
      <li><img src="/assets/site/shopping-cart.png" alt="shopping-cart-icon"></li>
      <li><img src="/assets/site/user.png" alt="user-icon"></li>
    </ul>
  </div>
  <div class="cont-head">
    <figure class="logo-site">
      <img src="/assets/site/lucasian-logo.png" alt="lucasian-logo">
    </figure><nav class="main-menu">
      <ul>
        <li><a href="#">Menu1˅</a></li>
        <li><a href="#">Menu2˅</a></li>
        <li><a href="#">Menu3˅</a></li>
        <li><a href="#">Menu4˅</a></li>
        <li><a href="#">Menu5˅</a></li>
        <li><a href="#" class="login-btn">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="sect-banner">
    <section class="sect-tit">
      <h1>Título</h1>
      <p>
        Contenido <strong>more professional</strong>
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dicta quibusdam. adipisicing elit. Excepturi dicta quibusdam.
      </p>
      <ul class="list-banner">
        <li class="listban-1">Get Started</li>
        <li>
          <span class="play-banner"><img src="/assets/site/play.png" alt="play"></span><span>Play video</span>
        </li>
      </ul>
    </section><figure>
      <img src="/assets/site/Captura.png" alt="Captura">
    </figure>
  </div>

  <section class="section-2">
    <div class="sect-help"><span>¿Necesitas ayuda?</span></div>
    <h3>Título de la sección</h3>

    <article>
      <img src="/assets/site/imgL1.PNG" alt="imgL1">
      <div>
        <strong>Servicio 1</strong>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus soluta autem.</p>
      <figure>
        <img src="/assets/site/flecha.PNG" alt="flecha">
      </figure>
    </article>
    <article>
      <img src="/assets/site/imgL2.PNG" alt="imgL2">
      <div>
        <strong>Servicio 2</strong>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus soluta autem.</p>
      <figure>
        <img src="/assets/site/lapso.PNG" alt="flecha">
      </figure>
    </article>
    <article>
      <img src="/assets/site/imgL3.PNG" alt="imgL3">
      <div>
          <strong>Servicio 3</strong>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus soluta autem.</p>
      <figure>
        <img src="/assets/site/fecha-r.png" alt="fecha-r">
      </figure>
    </article>
  </section>

  <br>
  
  <section class="sect-phar">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iste doloribus quo, optio impedit maxime, voluptatem fuga.</h5>
  </section>

  <figure class="img-cent">
    <img src="/assets/site/ovalo.PNG" alt="ovalo">
  </figure>

  <section class="sect-plans">
    <article class="art1">
        <div class="sect-help"><span>Texto</span></div>
        <br>
        <h4>Contenido extra <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, fugiat itaque vitae laboriosam at facere.
        </p>
        <div class="time-plan">
          <div class="cont-data-plans">
            <a href="#" class="month">Mes</a>            
          </div>
          <div class="cont-data-plans">
            <div class="flote-plans"><span>10% OFF</span></div>
            <a href="#" class="year">Año</a>
          </div>
        </div>
    </article><article class="art2">     
        <a href="#" title="plan 1" class="plan1"><img src="/assets/site/plan1.png" alt="plan1"></a>
        <a href="#" title="plan 2" class="plan2"><img src="/assets/site/plan2.png" alt="plan2"></a>
    </article>
  </section>

  <section class="regular slider">
      <div>
        <img src="http://placehold.it/250x200?text=1">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=2">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=3">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=4">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=5">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=6">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=7">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=8">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=9">
      </div>
      <div>
        <img src="http://placehold.it/250x200?text=10">
      </div>
    </section>

</main>
